body {
  font-size: 16px;
  font-weight: 300;
  color: $text-color;
  font-family: $text-font-stack;
  background: $white;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $main-color;
  &:hover {
    color: $main-color;
  }
}

.quotes {
  color: $text-color;
  section {
    color: inherit;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    .background {
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-position: center center;
      background-size: cover;
    }
    .element {
      position: relative;
      z-index: 5;
    }
    .container {
      position: relative;
      z-index: 20;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

.quote {
  position: relative;
  p {
    line-height: 1.35em;
    &::before {
      content: '"';
      display: block;
      font-size: 4em;
      line-height: 1em;
      position: absolute;
      font-family: "Palanquin Dark", sans-serif;
    }
    &::before {
      left: 0;
      top: 0;
      transform: translate(-125%, -30%) rotate(180deg);
    }
  }
  em {
    margin-top: 2.5em;
    display: block;
    text-align: right;
    font-size: 0.75em;
  }
  &.animating {
    em {
      visibility: hidden;
      position: relative;
      &::after {
        animation: 0.5s infinite alternate blink;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        content: "░░░░░░░░░░";
      }
    }
  }
}

@keyframes blink {
  100% {
    content: "▒░░░░░░░░░░";
  }
  90% {
    content: "░▒░░░░░░░░░";
  }
  80% {
    content: "░░▒░░░░░░░░";
  }
  70% {
    content: "░░░▒░░░░░░░";
  }
  60% {
    content: "░░░░▒░░░░░░";
  }
  50% {
    content: "░░░░░▒░░░░░";
  }
  40% {
    content: "░░░░░░▒░░░░";
  }
  30% {
    content: "░░░░░░░▒░░░";
  }
  20% {
    content: "░░░░░░░░▒░░";
  }
  10% {
    content: "░░░░░░░░░▒░";
  }
  0% {
    content: "░░░░░░░░░░▒";
  }
}

section {
  &:nth-child(odd) {
    background: #f4a261;
  }
  &:nth-child(even) {
    background: #e9c46a;
  }
  &[id="section-asimov-1"] {
    background: #264653;
    color: $white;
    .background {
      width: 100%;
      height: 120%;
      background-image: url(../images/1465.jpg);
    }
  }
  &[id="section-asimov-2"] {
    background: #2a9d8f;
    color: $white;
    .background {
      width: 100%;
      height: 150%;
      background-image: url(../images/3109.jpg);
    }
  }
  &[id="section-darwin-1"] {
    background: #e9c46a;
    color: $white;
    .background {
      width: 110%;
      height: 100%;
      background-image: url(../images/1623.jpg);
    }
  }
  &[id="section-arendt-1"] {
    background: #f4a261;
    color: $white;
    .background {
      width: 100%;
      height: 150%;
      background-image: url(../images/3288.jpg);
    }
  }
  &[id="section-brient-1"] {
    background: #e76f51;
    color: $white;
    .background {
      width: 100%;
      height: 150%;
      background-image: url(../images/2083.jpg);
    }
  }
  &[id="section-king-1"] {
    background: #f4a261;
    .background {
      width: 100%;
      height: 150%;
      background-image: url(../images/8916.jpg);
    }
  }
  &[id="section-chomsky-1"] {
    background: #e9c46a;
    .background {
      width: 100%;
      height: 150%;
      background-image: url(../images/3194.jpg);
    }
  }
  &[id="section-hugo-1"] {
    background: #2a9d8f;
    .background {
      width: 100%;
      height: 150%;
      background-image: url(../images/2022.jpg);
    }
  }
  &[id="section-orwell-1"] {
    background: #264653;
    color: $white;
    .background {
      width: 110%;
      height: 100%;
      background-image: url(../images/3535.jpg);
    }
  }
}

/** OLD CSS  **/
section[id*="-section"] {
  height: 100vh;
  display: flex;
  align-items: center;
  color: $white;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 3;
  }
  .background {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
  }
  .mask {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #e76f51;
    transform: translate(0, -105%);
    &::after {
      content: "";
      position: absolute;
      height: 20%;
      width: 120%;
      left: -10%;
      bottom: -1%;
      transform: translate(0, 0);
      background: url(../images/brush.svg) no-repeat center bottom;
      background-size: 100% 100%;
    }
  }
  .brush {
    color: #e76f51;
    z-index: 1;
    position: absolute;
    height: 20%;
    width: 120%;
    left: -10%;
    top: -5%;
    background: url("../images/brush.svg") no-repeat center center;
    background-size: 100% 100%;
    transform: translate(0, 0);

    /*
    &::before {
      content: ;
      position: absolute;
      height: 100%;
      aspect-ratio: 1/ 1;
      border-radius: 50%;
      left: 0;
      top: 0;
      background: currentColor;
      transform: translate(-50%, 0);
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      aspect-ratio: 1/ 1;
      border-radius: 50%;
      right: 0;
      top: 0;
      background: currentColor;
      transform: translate(50%, 0);
    }
    */
  }
}
[id="first-section"] {
  background: #264653;
  color: #264653 !important;
  line-height: 1em;
  .mark {
    display: block;
    color: #e76f51;
    z-index: 1;
    position: absolute;
    height: 55%;
    width: 150%;
    left: -25%;
    top: 50%;
    background: url("../images/brush-white.svg") no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-50%) rotate(5deg);
    z-index: 2;
    opacity: 0.95;
  }
  .background {
    width: 100%;
    height: 125%;
    background-image: url(../images/low-poly-grid.svg);
  }
}
[id="second-section"] {
  background: #2a9d8f;
  .background {
    width: 110%;
    height: 110%;
    background-image: url(../images/me.jpg);
  }
}
[id="third-section"] {
  background: #e9c46a;
  .background {
    background-image: url(../images/trees-2.jpg);
  }
}
[id="fourth-section"] {
  background: #f4a261;
  .background {
    background-image: url(../images/home.jpg);
  }
}
[id="fifth-section"] {
  background: #e76f51;
  .background:not(.mask) {
    background-image: url(../images/trees-2.jpg);
    z-index: 1;
  }
  .background.masker {
    z-index: 2;
    background-image: url(../images/trees-3.jpg);
    mask: url(../images/effect.png);
    mask-repeat: no-repeat;
    mask-size: 200% 100%;
    mask-position: -3000px 0px;
  }
}
[id="sixth-section"] {
  background: #e9c46a;
}
